section.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

section.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    margin-left: auto;
    margin-right: 30px;
}

section.filters button:hover {
    opacity: 90%;
}

section.filters div.locations, section.filters div.amenities {
    height: 100%;
    width: 25%;
    margin-left: 30px;
}

section.filters div.locations{
    border-right: 1px solid #DDDDDD;
}

div.locations h3, div.amenities h3  {
    font-weight: 600;
    margin-bottom: 0px;
}

div.locations h4, div.amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin: auto;
}